@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "montserrat", sans-serif;
}

body {
  background-image: linear-gradient(
    90.2deg,
    rgb(16, 97, 182) -0.4%,
    rgba(56, 141, 217, 1) 106.1%
  );
  color: #cea5a5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.chat-container {
  width: 400px;
  height: 600px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  background: rgba(0, 0, 0, 0.1);
  color: #ffff;
  padding: 15px;
  text-align: center;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.chat-box {
  flex: 1;
  overflow: auto;
  padding: 15px;
  background: transparent;
}

.message {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
  line-height: 1.4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.user-message {
  background: rgba(0, 123, 255, 0.2);
  color: white;
  align-self: flex-end;
  margin-left: auto;
}

.bot-message {
  background: rgba(255, 255, 255, 0.9);
  color: #8172cf;
  align-self: flex-start;
  margin-right: auto;
}

.input-area {
  display: flex;
  padding: 10px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

#user-input {
  flex: 1;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(255, 255, 255, 0.9);
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}
#send-btn {
  background: #005fcc;
  color: white;
  border: none;
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}
#send-btn:hover {
  background: #200d9dc8;
}
